@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

header {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

h1 {
    font-family: 'Aref Ruqaa Ink', serif;
}

#addButton {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Abyssinica SIL', serif;
}